
<div class="container">
  <form [formGroup]="transactionForm" class="form">
    <mat-radio-group
      aria-label="Select an option"
      class="form-element"
      formControlName="transaction_type"
    >
      <mat-label>Transaction Type</mat-label>
      <mat-radio-button
        *ngFor="let t of transactionTypes | keyvalue"
        [value]="t.value"
        >{{ t.value }}</mat-radio-button
      >
    </mat-radio-group>

    <mat-form-field class="form-element">
      <mat-label>Amount</mat-label>
      <input
        type="number"
        matInput
        placeholder="Amount"
        formControlName="amount"
      />
    </mat-form-field>

    <ng-container *ngIf="bankAccount$ | async as bankAccounts">
      <mat-form-field class="form-element">
        <mat-label>From Account</mat-label>
        <mat-select formControlName="source_bank_account_id">
          <mat-option *ngFor="let account of bankAccounts" [value]="account.id">
            {{ account.account_number }}, {{ account.account_holder_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>To Account</mat-label>
        <mat-select formControlName="target_bank_account_id">
          <mat-option *ngFor="let account of bankAccounts" [value]="account.id">
            {{ account.account_number }}, {{ account.account_holder_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <mat-form-field class="form-element">
      <mat-label>Description</mat-label>
      <input matInput placeholder="description" formControlName="description" />
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Submit</button>
    <button mat-raised-button>Cancel</button>
  </form>
</div>
